<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.pjq.dao.WebPageNumberHtmlDao">
    <select id="selectPageHtml" parameterType="int" resultType="com.pjq.pojo.WebPageNumberHtml">
        select * from pages_html where website_id=#{website_id}
    </select>
</mapper>
