<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--命名空间是对应接口的包名+类名 -->
<mapper namespace="com.pjq.dao.WebsiteDao">
    
    <select id="selectWebsite" parameterType="String" resultType="com.pjq.pojo.Website">
        select * from website where url like #{url}
    </select>

    <select id="selectAllWebsite" resultType="com.pjq.pojo.Website">
        select * from website
    </select>
    
</mapper>