# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\易现实习\WX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
